/* Variable Declaration */
:root {
    --black: #161516;
    --darkest-blue: #244d70;
    --dark-blue: #1c243c;
    --brown: #4C3F30;
    --blue: #123c87;
    --pink: #FF6961;
    --grey: #6D6D6D;
}

/* Base Settings */
* {
    margin: 0;
    padding: 0;
}


input{
    background: transparent;
    border: none;
    border-bottom: 4px solid var(--darkest-blue);
}

::placeholder{
    color: #ffffff;
}


body{
    width: 300px;
    height: 325px;
    margin: 10px;
    padding: 0;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}


/* Header */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading{
    color: var(--dark-blue);
    font-size: 24px;
    padding-right: 5px;
}

.now__heading{
    color: var(--pink);
    
}

.icon{
    height: 32px;
    padding-left: 5px;

}

/* Form */
.form{
    display: flex;
    justify-content: center;
}

.submit__div{
    display: flex;
    justify-content: center;
}

/* Settings Link */
.settings__link{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}



/* Prayer Cards */
.prayers{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin-top: 20px;
}

.prayer__card{
    text-align: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 5px 2px 5px;
    padding: 10px;
    border-radius: 10px;
    color: var(--grey);
}


.prayer__heading{
    font-weight: 100;
    font-size: 18px;
}

.next__prayer{
    font-size: 12px;
    font-weight: 100;
}

.md-12{
    font-size: 12px;
}

.shadow{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 100px;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    top: 230px;
    
}

.prayer__images{
    width: 80px;
    color: var(--darkest-blue);
}

.prayer__time{
    font-size: 18px;
    font-weight: 100;
}

/* Location Tag */
.location{
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 6.5px;
    color: var(--grey);
}

.location__heading{
    font-weight: 200;

}

#location-icon{
    color: var(--pink);
}

/* Date Tag */
.date{
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 6.5px;
    color: var(--grey);
}

.islamic__date{
    position: absolute;
    top: 50px;
    left: 25px;
    color: var(--grey);
    font-size: 6.5px;
}

.isl-date{
    font-weight: 200;
}

#isl-cal-icon{
    color: var(--pink);
}
/* Next Prayer */
/* .next__prayer{
    position: relative;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%);
    text-align: center;
    background-color: #fff;
    color: var(--black);
    font-size: 10px;
    width: 300px;
    border-radius: 20px;
    margin-top: 15px;
} */